button.btn-patient {
  padding-left: 5px;
  display: flex-row;
  position: right; }

.patient-attr {
  max-width: 50%;
  text-align: left;
  position: left;
  padding-right: 10px; }

.patient {
  border-bottom: 1px solid #ededee; }

.patient-fullname {
  display: inline-block;
  display: flex-row;
  align: left;
  padding-left: 5px; }

div .patient-buttons {
  display: flex-row;
  float: right;
  position: right; }

.btn-patient {
  padding: 5px;
  background: white;
  font-family: Helvetica;
  font-size: 15px;
  position: right; }
